.content {
    text-transform: none;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    position: relative ;
    z-index: 2;
    color: black;
}

.bg {
    position: fixed;
    z-index: 1;
    box-sizing: content-box;
    width: 100%;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: white;
    background-size: cover;
}

p1  {
    text-transform: none;
    text-align: start;
    font-size: 37px;
    margin: 0px;
    margin-top: 0px;
    font-weight: 700;
    text-indent: 15px;
    text-align: justify;
}
.image-container{

    background-image: url("str.png");
    width: 50px;
    height: 50px;
    display: block;
    margin: 0 auto;
    background-size: 50px;
    background-position: top;
    background-repeat: no-repeat;
}
p2  {
    text-transform: none;
    text-align: start;
    font-size: 14px;
    margin-top: 10px;
    margin-left: 15px;
    margin-right: 15px;
    
}
