.content {
    text-transform: capitalize;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

    font-size: calc(1rem + 2vw);
    position: relative ;
    z-index: 2;
    font-size: 80%;
    color: #fff;


}

.bg {

    position: fixed;
    background-color: black;
    background-size: cover;


}




h1  {
    text-transform: capitalize;
    text-align: left;
    font-size: 30px;
}

p  {
    text-transform: capitalize;
    text-align: center;
    font-size: 14px;
}
